*{
    background-color: rgb(239, 210, 210);
}
#welcome{
    height:100px;
    display:inline;
    margin-left:50px;
    padding:20px;
    background-color: black;
    border-radius:10px;
    color:white;
    font-size: 50px;
}
#user{
    height:100px;
    display:inline;
    margin-left:0px;
    padding:20px;
    background-color:white;
    border-radius:10px;
    color:black;
    font-size: 50px;

}
#heading
{
    color:black;
    text-align: center;
    margin-top:100px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
#info{
    color:black;
    text-align:center;
    margin-top: 50px;
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#command{
    color:black;
    text-align:center;
    margin-top:30px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box1{
    background-color: brown;
    color:white;
    display:inline-block;
    margin-top:80px;
    margin-left:90px;
    margin-right:50px;
    padding:35px;
    font-size:20px;
    border-radius:70px;
    height:220px;
    width:250px;

}
.head1
{
background-color:brown;
}
#box2{
    background-color: black;
    color:white;
    display: inline-block;
    margin-right:50px;
    margin-left:90px;
    padding:35px;
    font-size:20px;
    border-radius:70px;
    margin-top:60px;
    height:220px;
    width:250px;
}
.head2{
    background-color: black;
}
.container
{
 display: block;
}
#cuisine{
    display:block;
    padding: 30px;
    border-style: solid;
    border-color: brown;
    border-width: thick;
    color: brown;
    margin-left:40px;
    font-size: 25px;
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
#conclusion{
    display:block;
    margin-top: 80px;
    border-style: solid;
    border-color:black;
    border-width: thick;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}


